.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
	margin-bottom: 90px;
}

.controlsContainer {
	display: flex;
	column-gap: 12px;
}

.input {
	max-width: 204px;
}

.btnSmall {
	min-width: 175px;
}

.btnBig{
	min-width: 362px;
}

.circles {
	display: flex;
	justify-content: center;
	max-width: calc(100% - 300px);
	flex-wrap: wrap;
	margin: 0 auto;
	row-gap: 48px;
}

.circleItem {
	display: flex;
	align-items: center;
}

.circle {
	margin: 0 16px;
}