.container {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.form {
	display: flex;
	justify-content: center;
	column-gap: 12px;
}

.input {
	max-width: 377px;
}

.button {
	min-width: 178px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.circles {
	display: flex;
	justify-content: center;
	max-width: calc(100% - 300px);
	margin: 0 auto;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 48px;
}

