.form {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.input {
	width: 377px;
}

.circles {
	display: flex;
	justify-content: center;
	margin-top: 120px;
	gap: 16px;
}

.button {
	min-width: 178px;
}